<div class='sideBar'>
    <img src='/Assets/portrait_cropped.jpg' >

    <h3>Skills:</h3>
    <ul>
        <li>C: Familiar</li>
        <li>Python: Basic knowledge</li>
        <li>SQL: Basic knowledge</li>
        <li>Matlab: Familiar</li>
        <li>Javascript: Practiced</li>
        <li>Express.js: Familiar</li>
        <li>Node.js: Familiar</li>
        <li>Vi, Vim, & SSH: Basic knowledge</li>
        <li>HTML5/CSS (Flexbox) Design: Familiar</li>
        <li>Microsoft Office: Familiar</li>
        <li>GPIO/Microcontroller level programming: Basic knowledge</li>
    </ul>
</div>


<div class='mainCol'>
    <h3>Previous Projects and Experiences:</h3>
    <ul>
        <li>Distance-based LED Strip Controller to provide an interesting way to light a rural outdoor locker at night. (<a href='https://github.com/NikosAghazarian/Arduino-CSA-Lighting'>Github</a>)</li>
        <li>Wave Function Visualizer (<a href='https://github.com/NikosAghazarian/Wave-Function-Visualizer'>Github</a>)</li>
        <li>Electron-based Connect 4 (<a href='https://github.com/NikosAghazarian/Connect-4'>Github</a>)</li>      
        <li>Greywater System Monitor for tracking and alerts when an irrigation pump is offline. (<a href='https://github.com/NikosAghazarian/GreywaterMonitor'>Github</a>)</li>
        <li>Home Internet Monitoring System (<a href='https://github.com/NikosAghazarian/InternetMonitorServer'>Github</a>)</li>
        <li>Raspberry Pi in building single- and multi- device systems, used for the Greywater Monitor and Internet Monitor.</li>
        <li>MySQL and MySQL Workbench, used in storing internet tracking data for the Internet Monitor.</li>
    </ul>
    <h3>Work Experience:</h3>
    <ul>
        <li>Calculus Tutor</li>
        <ul>
            <li>Helped teach high school calculus after school.</li>
            <li>Employer: Eastside Union High School District</li>
            <li>Location: Mount Pleasant High School</li>
            <li>4 hrs/wk</li>
            <li>August 2017 - May 2018</li>
        </ul>
        <li>Website Maintainer</li>
        <ul>
            <li>Maintained, updated, and added new features to a Wordpress website.</li>
            <li>Employer: The Palms</li>
            <li>Location: Los Gatos, worked from home</li>
            <li>2 hrs/mo</li>
            <li>June 2018 - November 2018</li>
        </ul>
    </ul>
</div>

