<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Internet Monitor</title>
  <link rel="stylesheet" href="/stylesheets/css/styles.css">
</head>

<body>
  <header>
    <h1>Home Monitor</h1>
    <nav>
      <button type="button" id='navHome' class='firstBtn' onClick='GetRoute("Home")'>Home</button>
      <button type="button" id='navGreywater' class='middleBtn' onClick='GetRoute("Greywater")'>Greywater Monitor</button>
      <button type="button" id='navInternetMonitor' class='lastBtn' onClick='GetRoute("InternetMonitor")'>Internet Monitor</button>
    </nav>
  </header>

  <div id="main">
    
  </div>

  <footer>
    <p style='font-weight: bold'></p>
  </footer>
  
</body>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="/javascripts/chart.js"></script>
<script type="text/javascript" src="/javascripts/InternetMonitor.js"></script>
<script type="text/javascript" src="/javascripts/home.js"></script>
<script type="text/javascript" src="/javascripts/Greywater.js"></script>
<script type="text/javascript" src="/javascripts/nav.js"></script>
</html>

