<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Internet Monitor</title>
  <link rel="stylesheet" href="/stylesheets/css/styles.css">
</head>

<body>
  <header>
      <nav>
          <button type="button" id='navResume' class='firstBtn' onClick='window.location="https://nikosaghazarian.heroku.com/Resume"'>Resume</button>
          <button type="button" id='navGithub' class='lastBtn' onClick='window.location="https://github.com/NikosAghazarian"'>Github</button>
        </nav>
    <div>
      <h1 class='headerText'>NIKOS AGHAZARIAN</h1>
      <h3 class='headerText'>2nd Year Electrical Engineer Undergraduate</h3>
    </div>
  </header>

  <div src='/views/home.html' id="main">
    
  </div>

  <footer>
    <p style='font-weight: bold'>Nikos Aghazarian 10/5/2019</p>
  </footer>
  
</body>
</html>

