$BG1: rgb(255, 252, 239);
$BG2: adjust-hue($color:$BG1, $degrees: 150);

$text: black;
$navLinkCount: 3;
$navGradient: linear-gradient(darken($color: $BG2, $amount: 60) ,darken($color: $BG2, $amount: 20));

html {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: $BG1;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;

  header {
    color: $text;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    flex-basis: 12%;
    background-color: darken($color: $BG2, $amount: 60);
    box-shadow: 0px 10px 5px lightgrey;
    
    h1 {
      display: flex;
      height: 65%;
      margin: 0px;
      padding: 5px;
    }

    nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 35%;
      width: 100%;

      button {
        background: $navGradient;
        width: 100%/$navLinkCount;
        border-width: 0px 1px 0px 1px;
        border-style: solid;
        border-color: rgb(70, 70, 70);
        font: inherit;
      }   

      button:hover, button:focus{
        background: linear-gradient(rgba(0,0,0,0), rgba(255, 255, 255, 0.3)), $navGradient;
      }

      button:active, button:disabled {
        background: linear-gradient(rgba(0,0,0,0), rgba(255, 255, 255, 0.7)), $navGradient;
        color:inherit;
      }

      .firstBtn {
        border-left-width: 0px;
      }
      
      .lastBtn {
        border-right-width: 0px;
      }
    }

  }

  #main {
    display: inherit;
    flex-direction: column;
    flex-grow: 82;
    //height: 82%;
    padding: 1%;
    width: 98%;      
      h2 {
        width: 100%;
        display: inherit;
        height: 5%;
      }
      .hide {
        display: none;
      }
    
  }

  footer {
    display: inherit;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 4%;
    padding: 5px;
    color: lighten($color: $text, $amount: 60);
    background-color: darken($color: $BG2, $amount: 80);  
  
    p {
      margin: 0px;
    }
  }
}

a {
  color: #00B7FF;
}

