$text: black;
$navLinkCount: 2;

html {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: white;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;

  header {
    color: $text;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    flex-basis: 17%;
    background-color: black;
    background: url('../../../Assets/background.jpg');
    background-size: 170%;
    //box-shadow: 0px 10px 5px lightgrey;
    
    div {
      display: flex;
      color: white;
      background: rgba(0, 0, 0, 0.733);
      flex-direction: column;
      justify-content: center;
      height: 70%;
      width: 67%;
      margin: 0 16.5%;
      text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;

      h1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px;
        padding: 5px;
        width: 100%;
      }
      
      h3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px;
        padding: 5px;
        width: 100%;
      }
    }
    

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      height: 30%;
      width: 100%;
      background: rgb(44, 44, 44);

      button {
        color: white;
        background: rgb(44, 44, 44);
        border: 0;
        width: (100%/$navLinkCount) - 25%;
        font-size: 21px;
        font-weight: 500;
      }   
      
      button:hover, button:focus{
        transition-duration: 270ms;
        background: rgb(88, 88, 88);
      }

      button:active, button:disabled {
        background: rgb(119, 119, 119);
      }
    }
  }

  #main {
    display: inherit;
    flex-direction: column;
    flex-grow: 82;
    padding: 1%;
    width: 98%; 

      h2 {
        width: 100%;
        display: inherit;
        height: 5%;
      }
      .hide {
        display: none;
      }
    
  }

  footer {
    display: inherit;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 1.5%;
    padding: 5px;
    color: lighten($color: $text, $amount: 60);
    background-color: black;  
  
    p {
      margin: 0px;
    }
  }
}

a {
  color: #00B7FF;
}

